{% extends './page.html' %}

{% block content %}

<h2>Introduction</h2>
<p>
Tax Code Bingo is a game for you and your friends and/or coworkers to challenge eachother
in a contest of luck and knowledge of the U.S. tax code. It's intended as something fun and
educational for accounting firms and tax students, but if you can think of another use for it, go for it.
</p>
<p>
The game itself, like normal Bingo!, is quite open ended, and can be played lots of different
ways. Play however you find the most fun and educational.
</p>

<h2>The Game</h2>
<p>
Each player in the game gets a unique Bingo! board full of squares with section numbers from the tax code.
Your objective is to "stamp" as many of these squares as you can, and try to get five in a row.
The center space is the "FREE" space, and it will be already stamped at the start of the game.
</p>
<p>
Every so often (as configured by whoever set up the game), a new tax code section will be
"called out" to all the players in the game. If you have that section on your board, you can
stamp it! The trick is, sections will be called out by title, not number. If you try to stamp
the wrong section, you'll lose a couple points (just to stop you from guessing willy-nilly).
You can also choose to stamp no squares, either because you know that the called section isn't
on your board, or because if it is, you can't find it.
</p>
<p>
Don't worry if you don't log in for a couple days, or if you join late. You'll always get a
chance to stamp all the sections that were called out while you were away. Also note that 
the timer always counts from 11pm UCT, so you may get a lot of sections called out
right off the bat as it tries to catch up.
</p>

<h2>The Software</h2>
<p>
To begin a new game of Tax Code Bingo, enter the ID you want to assign the game, check the
"start a new game" box, set the frequency with which sections will get called out, and log in
with your own Player ID. Then the game will be set up and ready to go.
</p>
<p>
Any number of other players can join your game by inputting that same ID and logging in with
their own personal Player ID's.
</p>

{% endblock %}