{% load static %}

<script src="{% static '/bingo/gameboard.js' %}"></script>

<h1>This is where {{ player_id }} plays TAX TRIVIA BINGO!</h1>

<div class="score_board">
    <h3>{{ player_id }}'s Score:</h3>
    <h2>{{ score }}</h2>
</div>

<h2>Your next square is: {{ prompt }}</h2>

<canvas id="bingo_board" width="600" height="400"></canvas>
<p>Click on the Bingo square you think matches the clue.</p>

<form action="." method="POST">
    {% csrf_token %}

    <!-- no answer -->
    <input type="checkbox" name="no_answer"/>
    <label for="no_answer">I do not believe any squares on my board match. I am ready to move to my next clue.</label> <br/>

    <!-- the answer -->
    <input type="hidden" name="answer" value="" id="bingo_answer"/> <br/>

    <input type="submit" value="Answer!"/>
</form>

<script>
    var cell_data = {{ cell_data|safe }}; // this is fine, it's django
    setup_board(document.getElementById("bingo_board"), document.getElementById("bingo_answer"), cell_data.cells);
</script>