{% extends "./page.html"%}

{% load static %}

{% block extra_header %}
<link rel="stylesheet" href="{% static '/bingo/game.css' %}"/>
<script src="{% static '/bingo/gameboard.js' %}"></script>
{% endblock %}

{% block sidepanle %}
<div class="score_board">
    <h3>{{ player_id }}'s Score:</h3>
    <h2>{{ score }}</h2>
</div>
{% endblock %}

{% block content %}

{% if question_prompt %}
    <h2>Your next square is: {{ question_prompt }}</h2>
{% elif timer_prompt %}
    <h2>Your next square will be available {{ timer_prompt }}. </h2>
{% endif %}

<canvas class="bingo_board" id="bingo_board" width="600" height="400"></canvas>

{% if question_prompt %}
    <p>Click on the Bingo square you think matches the clue.</p>

    <form action="{% url 'bingo:index' %}" method="POST">
        {% csrf_token %}

        <!-- no answer -->
        <input type="checkbox" name="no_answer"/>
        <label for="no_answer">I do not believe any squares on my board match. I am ready to move to my next clue.</label> <br/>

        <!-- the answer -->
        <input type="hidden" name="answer" value="" id="bingo_answer"/> <br/>

        <input type="submit" value="Answer!"/>
    </form>
{% else %}
    <form>
        <input type="hidden" name="answer" value="" id="bingo_answer"/> <!-- just a dummy for the bingo board code -->
    </form>
{% endif %}

<script>
    var cell_data = {{ cell_data|safe }}; // this is fine, it's django
    setup_board(document.getElementById("bingo_board"), document.getElementById("bingo_answer"), cell_data.cells);
</script>

{% endblock %}