<h1>This is where you log in!</h1>
<form action="./do_login/" method="POST">
    {% csrf_token %}

    <!-- game id -->
    <label for="game_id">Please input the ID of the game you are playing in:</label> <br/>
    <input type="text" name="game_id" value="{{ default_game_id }}"/> 
    <input type="checkbox" name="allow_new_game"/>
    <label for="allow_new_game">If this game doesn't exist, make it. (Normally, you shouldn't need to check this box.)</label>

    <br/><br/>

    <!-- player id -->
    <label for="player_id">Please input your Player ID;<br/>If you are just joining this game, feel free to make one up:</label><br/>
    <input type="text" name="player_id"/><br/>

    <input type="submit" value="Log In!"/>
</form>