{% extends "./page.html"%}

{% load static %}

{% block extra_header %}
<link rel="stylesheet" href="{% static '/bingo/login.css' %}"/>
<script src="{% static '/bingo/collapsible.js' %}"></script>
{% endblock %}

{% block content %}

<div class="login">
    <h1>Note:</h1>
    <p>This website is in development; most features are working, but no actual tax trivia questions are avainable.</p>
</div>

<div class="login">

    <h1>Welcome!</h1>

    <form action="{% url 'bingo:do_login' %}" method="POST">
        {% csrf_token %}

        <!-- game id -->
        <label for="game_id">Please input the ID of the game you are playing in;<br/>
        All players in your game need to put same ID here:</label> <br/>
        <input type="text" name="game_id" value="{{ default_game_id }}"/> <br/>
        <input type="checkbox" name="allow_new_game" onclick="toggle_collapse_id('new_game_info')"/> 
        <label for="allow_new_game">Check this box if you are trying to start a new game.</label>

        <div class="login_info" id="new_game_info" style="display: none">
            <label for="allow_new_game">(Note that if a game with this ID already exists, you will just join that game.)</label> <br/>
            <label for="wait_hours">Time to wait for each question:</label>
            <input class="number" type="number" name="wait_hours" value="12" min="0" size="2"/>
            <label for="wait_hours">H</label>
            <input class="number" type="number" name="wait_minutes" value="0" min="0" max="59" size="2"/>
            <label for="wait_minuts">M</label>
        </div>

        <br/><br/>

        <!-- player id -->
        <label for="player_id">Please input your Player ID;<br/>If you are just now joining this game, feel free to make one up:</label><br/>
        <input type="text" name="player_id"/><br/>

        <input type="submit" value="Log In!"/>
    </form>

</div>
{% endblock %}